<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Eric Littman">
    <title>insta485</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>
<body>
    <ul class="pageTop">
        <li><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" height="100" alt= "logo pic"></a></li>
        {% if is_logged_in %}
        <li class="right-nav"><a href="{{ url_for('show_explore') }}">explore</a></li>
        <li class="right-nav"><a href="{{ url_for('show_user', user_url_slug=logname) }}">{{ logname }}</a></li>
        {% endif %}
        <!-- should this be awdeorio instead?-->
    </ul>

    <hr>
    <!-- DO NOT CHANGE THIS -->
    <form action="{{ url_for('show_password') }}" method="post" enctype="multipart/form-data">
        <input type="password" placeholder="Old password" name="password"/>
        <input type="password" placeholder="New Password" name="new_password1"/>
        <input type="password" placeholder="New Password, Again" name="new_password2"/>
        <input type="submit" name="update_password" value="submit"/>
    </form>

    <p><a href="{{ url_for('edit') }}"><b>Back to edit account</b></a></p>
  
</body>